[Unit]
Description=Faux Device
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/bin/start_faux

[Install]
WantedBy=multi-user.target
