service firebase.storage {
  match /b/{bucket}/o {
    match /{document=**} {
      allow read: if get(/databases/$(database)/documents/permissions/$(request.auth.uid)).data.enabled == true
    }
  }
}
